<?xml version="1.0" encoding="utf-8" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="av">

    <xacro:macro name="wheel" params="prefix:='' caster:='false'">
        <gazebo reference="${prefix}wheel_link">
            <material>Gazebo/Grey</material>
            <surface>
                <friction>
                    <ode>
                        <xacro:if value="${caster == True}">
                            <mu>0.001</mu>
                            <mu2>0.001</mu2>
                        </xacro:if>
                        <xacro:if value="${caster != True}">
                            <mu>0.005</mu>
                            <mu2>0.00005</mu2> 
                        </xacro:if>
                    </ode>
                </friction>
            </surface>
        </gazebo>
    </xacro:macro>

    <!-- drive wheels -->
    <xacro:wheel prefix="left_"/>
    <xacro:wheel prefix="right_"/>
    <xacro:wheel prefix="left_caster_" caster="true"/>
    <xacro:wheel prefix="right_caster_" caster="true"/>

    <gazebo reference="chassis">
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    
</robot>