<?xml version="1.0" encoding="utf-8" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="av">

    <xacro:include filename="macros.xacro"/>


    <material name="black">
        <color rgba="0.0 0.0 0.0 1.0"/>
    </material>

    <!-- lidar -->
    <xacro:property name="lidar_height" value="0.05"/>
    <xacro:property name="lidar_radius" value="${0.07 / 2.0}"/>
    <xacro:property name="lidar_mass" value="0.2"/>

    <link name="laser_frame">
        <visual>
            <geometry>
                <cylinder radius="${lidar_radius}" length="${lidar_height}"/>
            </geometry>
            <material name="black"/>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="${lidar_radius}" length="${lidar_height}"/>
            </geometry>
        </collision>
        <inertia>
            <xacro:cylinder_inertia mass="${lidar_mass}" radius="${lidar_radius}" width="${lidar_height}"/>
        </inertia>
    </link>

    <joint name="laser_joint" type="fixed">
        <origin xyz="0.25 0 ${0.03}" rpy="0 0 0"/>
        <parent link="chassis"/>
        <child link="laser_frame"/>
    </joint>

    <!-- camera -->
    <link name="camera_link" type="fixed">
        <visual>
            <geometry>
                <box size="0.025 0.09 0.025"/>
            </geometry>
            <material name="black"/>
        </visual>
    </link>

    <joint name="camera_joint" type="fixed">
        <origin xyz="-0.05 0 0.15" rpy="0 0 0"/>
        <parent link="chassis"/>
        <child link="camera_link"/>
    </joint>

    <link name="camera_link_optical"/>

    <joint name="camera_joint_optical" type="fixed">
        <origin xyz="0 0 0" rpy="${-pi/2.0} 0 ${-pi/2.0}"/>
        <parent link="camera_link"/>
        <child link="camera_link_optical"/>
    </joint>

</robot>